<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js akea-body akea-body-front akea-full  akea-with-sticky-navigation  akea-blockquote-style-1 gdlr-core-link-to-lightbox" data-home-url=index.html>
{include file="public/top-mobile-nav"}
<div class="akea-body-outer-wrapper ">
    <div class="akea-body-wrapper clearfix  akea-with-frame">
        {include file="public/top-nav"}
        <div style="height: 600px;background: linear-gradient(#ffffff,#cccc77,#00d084);display: flex;flex-direction:column;align-items: center;justify-content: center">
            <h1>Gaming Blog</h1>
            <h2>To Be Continue</h2>
        </div>
        {include file="public/footer"}
    </div>
</div>
<a href="#akea-top-anchor" class="akea-footer-back-to-top-button  akea-with-recent-post-bar " id=akea-footer-back-to-top-button><i class="fa fa-angle-up" ></i></a>
</body>
</html>
